{% extends 'base_front.html.twig' %}


{% block content %}
    <section class="section breadcrumb-section" style="background-image: url({{ asset('front/images/image-10-1920x232.jpg') }})">
        <div class="container">
            <h2 class="breadcrumb-section-title">News 1</h2>
            <!-- Breadcrumb-->
            <div class="breadcrumb">
                <div class="breadcrumb-inner">
                    <div class="breadcrumb-item"><a class="breadcrumb-link" href="index.html">Home</a></div>
                    <div class="breadcrumb-item"><a class="breadcrumb-link" href="#">News</a></div>
                    <div class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">News 1</span></div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}