<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="../assets/img/logo-small.png">
            </div>
            <!-- <p>CT</p> -->
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
            Creative Tim
            <!-- <div class="logo-image-big">
              <img src="../assets/img/logo-big.png">
            </div> -->
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="{{ path('admin_events') }}">
                    <i class="nc-icon nc-shop"></i>
                    <p>Events</p>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_promos') }}">
                    <i class="nc-icon nc-caps-small"></i>
                    <p>Promotions</p>
                </a>
            </li>

            <li class="active-pro">
                <a href="./upgrade.html">
                    <i class="nc-icon nc-spaceship"></i>
                    <p>Settings</p>
                </a>
            </li>
        </ul>
    </div>
</div>
