<div class="sidebar" data-color="white" data-active-color="danger">
  <div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="{{ asset('assets/img/logo-small.png') }}">
      </div>
      <!-- <p>CT</p> -->
    </a>
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
      Creative Tim
      <!-- <div class="logo-image-big">
        <img src="../assets/img/logo-big.png">
      </div> -->
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li>
        <a href="{{ path('admin_product') }}">
          <i class="nc-icon nc-bank"></i>
          <p>Product</p>
        </a>
      </li>
      <li>
        <a href="{{ path('admin_order') }}">
          <i class="nc-icon nc-diamond"></i>
          <p>Order</p>
        </a>
      </li>
    </ul>
  </div>
</div>